.modal-container{
  width: 400px;
}

.input-form{
  display: flex;
  flex-direction: column;
}

input{
  text-align: left!important;
}

.validation-error{
  margin-top: -22px;
  color: #DD0000;
 }

#cancelar-button{
  background-color: #fff;
  border: none;
  color: #DD0000;
  margin-right: .7rem;
}

.deletar-funcionario-title{
  text-align: center;
  font-size: medium;
}

#confirmar-button{
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 4px 8px;
}

::ng-deep .mat-mdc-form-field-infix{
  padding: 8px!important;
  display: flex;
}

::ng-deep .mdc-notched-outline{
  padding: 8px 0 !important;
}

