<div class="modal-container">
  <form (ngSubmit)="submitFuncionarioForm()" [formGroup]="funcionarioForm" #formFuncionarios="ngForm">
    <div *ngIf="!this.data.isDeletar; else deletar" >
       <h1 mat-dialog-title>{{getModalTitle()}}</h1>
        <mat-dialog-content class="mat-typography">
          <div class="input-form">
            <label for="nome">Nome</label>
            <mat-form-field appearance="outline">
              <input autofocus matInput type="text" class="input" id="nome" formControlName="nome" name="nome"
              required minlength="3">
            </mat-form-field>
            <p *ngIf="nome.hasError('required') && formFuncionarios.submitted" class="validation-error">
              O nome do funcionário é obrigatório.
            </p>
            <p *ngIf="nome.hasError('minlength') && formFuncionarios.submitted" class="validation-error">
              O nome deve ter pelo menos 3 letras.
            </p>
          </div>

          <div class="input-form">
            <label for="cargo">Cargo</label>
            <mat-form-field appearance="outline">
              <input matInput type="text" class="input" id="cargo" formControlName="cargo" name="cargo"
               required minlength="3">
            </mat-form-field>
            <p *ngIf="cargo.hasError('required') && formFuncionarios.submitted" class="validation-error">
              O Cargo do funcionário é obrigatório.
            </p>
            <p *ngIf="cargo.hasError('minlength') && formFuncionarios.submitted" class="validation-error">
              O Cargo deve ter pelo menos 3 caracteres.
            </p>
          </div>

          <div class="input-form">
            <label for="salario">Salario</label>
            <mat-form-field appearance="outline">
              <input matInput currencyMask class="input"
              id="salario" formControlName="salario" name="salario"
              [options]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',' }"
              [min]="0"
              required>
            </mat-form-field>
            <p *ngIf="salario.hasError('required') && formFuncionarios.submitted" class="validation-error">
              O Salário do funcionário é obrigatório.
            </p>
            <p *ngIf="salario.hasError('salarioNegativo') && formFuncionarios.submitted" class="validation-error">
              O Salário do funcionário não pode ser negativo.
            </p>
          </div>

          <div class="input-form">
            <label for="dataAdmissao">Data de admissão</label>
            <mat-form-field appearance="outline">
              <input matInput type="date" id="dataAdmissao" formControlName="dataAdmissao"
               name="dataAdmissao" min="1900-01-01" required>
            </mat-form-field>
            <p *ngIf="dataAdmissao.hasError('required') && formFuncionarios.submitted" class="validation-error">
              A data de admissão do funcionário é obrigatória.
            </p>
            <p *ngIf="dataAdmissao.hasError('dataFutura')" class="validation-error">
              A data de admissão não pode ser no futuro.
            </p>
          </div>
        </mat-dialog-content>
      </div>
    <ng-template #deletar>
      <h2 class="deletar-funcionario-title py-4">Deseja deletar o funcionário?</h2>
    </ng-template>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close id="cancelar-button">Cancelar</button>
      <button type="submit" mat-button id="confirmar-button">{{getSubmitButtonText()}}</button>
    </mat-dialog-actions>
  </form>
</div>
