<div class="col-md-6 m-auto py-4">
  <div class="d-flex justify-content-end pb-2">
    <button class="d-flex align-items-center gap-1" id="cadastrar-funcionario-button">
      <mat-icon>add</mat-icon>
       Novo Funcionário
    </button>
  </div>

  <div class="bg-light mt-1">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{element.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let element">{{element.cargo}}</td>
      </ng-container>

      <ng-container matColumnDef="salario">
        <th mat-header-cell *matHeaderCellDef>Salário</th>
        <td mat-cell *matCellDef="let element">{{element.salario}}</td>
      </ng-container>

      <ng-container matColumnDef="dataAdmissao">
        <th mat-header-cell *matHeaderCellDef>Data Admissão</th>
        <td mat-cell *matCellDef="let element">{{element.dataAdmissao}}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-center gap-2">
            <button class="action-button" id="edit-button" (click)="editFuncionario(element)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button class="action-button" id="delete-button" (click)="deleteFuncionario(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
