<div class="col-md-12">
  <div class="col-md-4 bg-light sign-up-container">
    <mat-tab-group #tabGroup (selectedTabChange)="onTabChanged()" class="tab-group">
      <mat-tab label="Login">
        <div class="py-4">
          <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="loginFormGroup"class="login-form-container text-left" #formLogin="ngForm">
            <div class="login-invalido" *ngIf="credenciaisInvalidas && formLogin.submitted">
              <p>Credenciais inválidas</p>
            </div>
            <div class="input-form">
              <label for="usuario">Usuário</label>
              <mat-form-field appearance="outline">
                <input matInput type="text" class="input" formControlName="login" name="usuario" required>
              </mat-form-field>
              <p *ngIf="login.invalid && (login.touched || formLogin.submitted)" class="validation-error">
                O Usuário é obrigatório.
              </p>
            </div>

            <div class="input-form">
              <label for="senha">Senha</label>
              <mat-form-field appearance="outline">
                <input matInput type="password" class="input" formControlName="senha" name="senha" required>
              </mat-form-field>
              <p *ngIf="senha.invalid && formLogin.submitted" class="validation-error">
                Digite sua senha.
              </p>
            </div>
            <button mat-flat-button class="submit-btn" type="submit">Login</button>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Cadastro">
        <div class="py-4">
          <form (ngSubmit)="onSubmitCadastroForm()" [formGroup]="cadastroFormGroup" class="login-form-container text-left" #formCadastro="ngForm">
            <div class="login-invalido" *ngIf="cadastroSucesso === false && formCadastro.submitted && formCadastro.valid">
              <p>Usuário já cadastrado</p>
            </div>
            <div class="cadastro-sucesso" *ngIf="cadastroSucesso && formCadastro.submitted && formCadastro.valid">
              <p>Cadastro realizado com Sucesso.</p>
            </div>
            <div class="input-form">
              <label for="usuario">Usuário</label>
              <mat-form-field appearance="outline">
                <input matInput type="text" class="input" id="usuario" formControlName="login" name="usuario" required>
              </mat-form-field>
              <p *ngIf="cadastroFormLogin.invalid && formCadastro.submitted" class="validation-error">
                O Usuário é obrigatório.
              </p>
            </div>

            <div class="input-form">
              <label for="senha">Senha</label>
              <mat-form-field appearance="outline">
                <input matInput type="password" class="input" formControlName="senha" name="senha" required>
              </mat-form-field>
              <p *ngIf="cadastroFormSenha.invalid && formCadastro.submitted" class="validation-error">
                Digite uma senha.
              </p>
            </div>

            <div class="input-form">
              <label for="role">Nível de acesso</label>
              <mat-form-field>
                <mat-select [(value)]="role" formControlName="role">
                  <mat-option value="USER">USER</mat-option>
                  <mat-option value="ADMIN">ADMIN</mat-option>
                </mat-select>
              </mat-form-field>
              <p *ngIf="cadastroFormRole.invalid && formCadastro.submitted" class="validation-error">
                Selecione o nível de acesso.
              </p>
            </div>
            <button mat-flat-button class="submit-btn" type="submit">Cadastrar</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
